@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: #0c0c0c;
}

h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
